name: build

on:
  push:
    # run on every new commit pushed to 'main'
    branches:
      - main
    # run whenever a new tag is created following one of the following patterns
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  conda-python-build:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@branch-25.08
    with:
      build_type: branch
      script: ci/build_python.sh
  upload-conda:
    needs: [conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-upload-packages.yaml@branch-25.08
    with:
      build_type: branch
  wheel-build:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-25.08
    with:
      build_type: branch
      script: ci/build_wheel.sh
      # only need 1 build (noarch package): this selects amd64, oldest-supported Python, latest-supported CUDA
      matrix_filter: '[map(select(.ARCH == "amd64")) | min_by((.PY_VER | split(".") | map(tonumber)), (.CUDA_VER | split(".") | map(-tonumber)))]'
      package-name: rapids-cli
      package-type: python
      pure-wheel: true
      append-cuda-suffix: false
  wheel-publish:
    needs: wheel-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@branch-25.08
    with:
      build_type: branch
      package-name: rapids-cli
      package-type: python
      publish_to_pypi: true
