name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

# automatically cancel in-progress CI runs if a new commit is pushed to the same ref
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
  conda-python-build:
    needs: [checks]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@branch-25.08
    with:
      build_type: pull-request
      script: ci/build_python.sh
      # only need 1 build (noarch package): this selects amd64, oldest-supported Python, latest-supported CUDA
      matrix_filter: '[map(select(.ARCH == "amd64")) | min_by((.PY_VER | split(".") | map(tonumber)), (.CUDA_VER | split(".") | map(-tonumber)))]'
  conda-python-tests:
    needs: [conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-25.08
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      script: ci/test_python.sh
  wheel-build:
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-25.08
    needs: [checks]
    with:
      build_type: pull-request
      script: ci/build_wheel.sh
      # only need 1 build (noarch package): this selects amd64, oldest-supported Python, latest-supported CUDA
      matrix_filter: '[map(select(.ARCH == "amd64")) | min_by((.PY_VER | split(".") | map(tonumber)), (.CUDA_VER | split(".") | map(-tonumber)))]'
      package-name: rapids-cli
      package-type: python
      pure-wheel: true
      append-cuda-suffix: false
  wheel-tests:
    needs: [wheel-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-25.08
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/citestwheel:latest"
      script: ci/test_wheel.sh
